std: net::Ipv6Addr::is_loopback() returns false for fe80::1

Apologies if this has been covered before. I've searched the bug tracker but didn't find an exact match.

`net::Ipv6Addr::is_loopback()` returns true for `::1` and false for everything else.

I would have expected it to return true for `fe80::1` (or strict: `fe80::1%lo0`) because, while a link-local address,  it's restricted to the loopback interface.

Supporting evidence:
```
$ ifconfig lo0
lo0: flags=8049<UP,LOOPBACK,RUNNING,MULTICAST> mtu 16384
        options=1203<RXCSUM,TXCSUM,TXSTATUS,SW_TIMESTAMP>
        inet 127.0.0.1 netmask 0xff000000 
        inet6 ::1 prefixlen 128 
        inet6 fe80::1%lo0 prefixlen 64 scopeid 0x1 <-- HERE 
        nd6 options=201<PERFORMNUD,DAD>
```
A more principled approach perhaps is a hypothetical `SocketAddrV6::is_loopback()` method that returns true when the scope id refers to a loopback device.

Background: libstd and getifaddrs(3) disagree on what is and isn't a local address, which is somewhat jarring.

You probably mean `fe80`, right? ;)

IMHO, [the docs](https://doc.rust-lang.org/nightly/std/net/struct.Ipv6Addr.html#method.is_loopback) are very clear:

[`pub const fn is_loopback(&self) -> bool`](https://doc.rust-lang.org/nightly/std/net/struct.Ipv6Addr.html#method.is_loopback):
>  Returns `true` if this is the [loopback address] (`::1`), as defined in [IETF RFC 4291 section 2.5.3].

<br>

In contrast to that:
[`pub fn is_unicast_link_local(&self) -> bool`](https://doc.rust-lang.org/nightly/std/net/struct.Ipv6Addr.html#method.is_unicast_link_local):
> Returns `true` if the address is a unicast address with link-local scope,
as defined in [RFC 4291].
> 
> A unicast address has link-local scope if it has the prefix `fe80::/10`, as per [RFC 4291 section 2.4].


[loopback address]: https://doc.rust-lang.org/nightly/std/net/struct.Ipv6Addr.html#associatedconstant.LOCALHOST
[IETF RFC 4291 section 2.5.3]: https://tools.ietf.org/html/rfc4291#section-2.5.3
[RFC 4291]: https://tools.ietf.org/html/rfc4291
[RFC 4291 section 2.4]: https://tools.ietf.org/html/rfc4291#section-2.4



So, what are you exactly confused about? :)

Yes, fe80::1 - typo, corrected. I'm not confused about anything, I simply don't like that Rust and the OS have conflicting views on what constitutes a local address. I'm of the opinion Rust ought to align with the OS.

Addresses on a loopback device are not automatically local ones. E.g. when using [IP_FREEBIND](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=ab79ad14a2d51e95f0ac3cef7cd116a57089ba82) feature one can add arbitrary addresses to `lo` which then get routed over another interface.

The `is_*` functions on IP addresses only check address categorization based on IETF RFCs and IANA assignments, not based on how routing is set up on your system.